/*===================================*\
  #CUSTOM PROPERTIES
\*===================================*/

:root {

    /**
     * colors
     */
  
    /* Neutrals */
  --neutral-gray-60: hsl(0, 0%, 60%);       /* AL: spanish-gray */
  --medium-gray-47: hsl(0, 0%, 47%);        /* AL: sonic-silver */
  --near-black-13: hsl(0, 0%, 13%);         /* AL: eerie-black */
  --dark-gray-33: hsl(0, 0%, 33%);          /* AL: davys-gray */
  --light-gray-93: hsl(0, 0%, 93%);         /* AL: cultured */
  --slate-gray-27: hsl(0, 0%, 27%);         /* AL: onyx */
  
  /* Colors */
  --reddish-pink-78: hsl(353, 100%, 78%);   /* AL: salmon-pink */
  --orange-tint-65: hsl(29, 90%, 65%);      /* AL: sandy-brown */
  --pure-red-70: hsl(0, 100%, 70%);         /* AL: bittersweet */
  --green-cyan-52: hsl(152, 51%, 52%);      /* AL: ocean-green */
  
  /* Absolute */
  --pure-white: hsl(0, 100%, 100%);         /* AL: white */
  
    /**
     * typography
     */
  
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
  
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
  
    /**
     * border-radius
     */
  
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
  
    /**
     * transition 
     */
  
    --transition-timing: 0.2s ease;
  
  }
  
/*===================================*\
  #RESET
\*===================================*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img, ion-icon, button, a { display: block; }

span { display: inline-block; }

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

input::placeholder { font: inherit; }

body { background: var(--pure-white); }


/*===================================*\
  #SCROLLBAR STYLING
\*===================================*/

body::-webkit-scrollbar { width: 15px; }

body::-webkit-scrollbar-track {
  background: var(--pure-white);
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--pure-white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }




  


/*===================================*\
  #REUSED STYLE
\*===================================*/

.container { padding: 0 15px; }

.has-scrollbar { padding-bottom: 5px; }

.has-scrollbar::-webkit-scrollbar {
  width: 12px; /* for vertical scroll */
  height: 12px; /* for horizontal scroll */
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border: 3px solid var(--pure-white);
  border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb { background: hsl(0, 0%, 90%); }

.has-scrollbar::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 80%); }

.title {
  color: var(--near-black-13);
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  letter-spacing: 0.4px;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-gray-93);
  margin-bottom: 30px;
}


  
  
  
  
  

/*===================================*\
  #MAIN
\*===================================*/

/**
 * overlay 
 */

 .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  transition: 0.5s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}





 /*===================================
  #HEADER
 =================================== */

.header-top,
.header-user-actions,
.desktop-navigation-menu { display: none; }

.header-main {
  padding: 20px 0;
  border-bottom: 2px solid var(--light-gray-93);
}

.header-logo{
  margin-bottom: 20px;
}


.header-logo img{
  margin: auto;
}


.header-search-container {
  position: relative;


}

.header-search-container .search-field {
  font-size: var(--fs-7);
  color: var(--onyx);
  padding: 10px 15px;
  padding-right: 50px;
  border: 2px solid var(--light-gray-93);
  border-radius: var(--border-radius-md);
  width: 100%;
}

/* .search-field::-webkit-search-cancel-button { display: none; } */




.search-btn {
  background: var(--pure-white);
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  color: var(--onyx);
  font-size: 18px;
  padding: 8px 15px;
  border-radius: var(--border-radius-md);
  transition: color var(--transition-timing);
}
  
.search-btn:hover {
  color: var(--salmon-pink);
}

/* bottom-navigation styling  */
.mobile-bottom-navigation {
  background: var(--pure-white);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  padding: 5px 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
}



.mobile-bottom-navigation .action-btn {
  position: relative;
  font-size: 26px;
  color: var(--eerie-black);
  padding: 10px;
}



.mobile-bottom-navigation .count {
  position: absolute;
  top: 0;
  font-size: 12px;
  right: 0;
  background: var(--pure-red-70);
  color: var(--white);
  border-radius: 20px;
  padding: 2px 4px;
  line-height: 1;
  font-weight: var(--weight-500);
}

/* end of bottom-navigation styling  */

.mobile-navigation-menu {
  background: var(--pure-white);
  position: fixed;
  top: 0;
  left: -0%;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  overflow-y: scroll;
  overscroll-behavior: contain;
  /* visibility: hidden; */
  transition: 0.5s ease;
  z-index: 20;
}


.mobile-navigation-menu.active {
  left: 0;
  visibility: visible;
}

.menu-top {
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--light-gray-93);
}

.menu-top .menu-title {
  color: var(--raddish-pink-78);
  font-size: var(--fs-4);
  font-weight: var(--weight-600);
}

.menu-close-btn {
  color: var(--near-black-13);
  font-size: 22px;
}

.menu-close-btn ion-icon { --ionicon-stroke-width: 50px; }


.mobile-menu-category-list {
  margin-bottom: 30px;
}

.menu-category .accordion-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-category-list .menu-category {
  border-bottom: 2px solid var(--light-gray-93);
}

.mobile-menu-category-list .menu-title {
  color: var(--onyx);
  font-size: var(--fs-6);
  font-weight: var(--weight-500);
  padding: 12px 0;
}

.accordion-menu > div { font-size: 14px; }

.accordion-menu ion-icon {
  color: var(--onyx);
  --ionicon-stroke-width: 90px;
}

.accordion-menu.active .add-icon,
.accordion-menu .remove-icon { display: none; }

.accordion-menu .add-icon,
.accordion-menu.active .remove-icon { display: block; }

.menu-category .submenu-category-list { margin-left: 10px; }

.submenu-title {
  padding: 6px 0;
  font-size: var(--fs-6);
  color: var(--medium-gray-47);
  font-weight: var(--weight-300);
}



.submenu-title:hover { color: var(--dark-gray-33); }

.submenu-category-list {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.submenu-category-list.active {
  max-height: 148px;
  visibility: visible;
}

.menu-bottom .menu-category-list { margin-bottom: 20px; }

.menu-bottom .menu-category { border-bottom: none; }

.menu-bottom .menu-title {
  font-size: var(--fs-6);
  font-weight: var(--weight-500);
  color: var(--near-black-13);
  padding: 12px 0;
}

